

h1,h2,h3,h4,h5,h6,
{font-family: Montserrat;
 font-weight:bold;
 line-height:1.5;}

 p
 {color: #8f8f8f;
 font-weight: bold;}





/*****************************section title*********************/

#title
{ background-color: #ff4c68;}


.main-heading
{
 font-size: 3.5rem;
 color: white;}

div.container-fluid
{padding: 3% 15% 7%;
 }

.navbar
{padding-bottom: 4.5rem;}

.navbar-brand
{font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
 font-weight: bold;}

.nav-item
{padding: 0 18px;}

.nav-link
{font-family: "Ubuntu";
 font-size: 1.2rem;
 }

.download-buttons
{margin: 5% 3% 5% 0;}

.mobile-img
{width:23%;
 transform: rotate(25deg);
position: absolute;
 }
/*************************section features*********************/
#features
{text-align: center;
 background-color: #fff;
 padding:7% 15%;
 position: relative;
 }

.feature-img
{color: #ef8172;}


 /**********************section testimonials******************/

h2
{
 font-size: 3rem;
 }
#testimonials
{background-color:#ef8172;
 text-align: center;
 color: #fff;}

.testimonial-img
{ width: 10%;
 border-radius: 100%;
 margin: 20px;
 }
.carousel-item
{padding: 7% 15%;}


 /*********************************section press************************/

#press
{background-color:#ef8172;
 text-align: center;
 padding-bottom: 3%;}


.press-logo
{
  width: 15%;
 margin: 20px 20px 50px;}

/****************************section pricing***************************/
#pricing
{padding: 100px;
 text-align: center;}

 .pricing-column
 {padding: 3% 2%;}

/*****************************cta**********************************/

#cta
{background-color: #ff4c68;
  text-align: center;
  padding:7% 15%;
 color: #fff;
 font-size: 4.5rem;}

.cta-buttons
{margin: 1%;


}
.cta-buttons:hover
{background-color: #ef8172;}

.cta-h3
{ font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;}
/*****************************footer******************************/

#footer
{padding: 4% 0 1%;
 text-align: center;}

.contact-logo
{margin: 1%;
 color: black;
 }


 @media (max-width: 991.98px){
   #title
   {text-align: center;}

       .mobile-img
       {position: static;
        transform: rotate(0);
        }

 }
